/*
 Plugin Name: Live Agent
 Plugin URI: http://www.qualityunit.com/liveagent
 Description: Plugin that enable integration with Live Agent
 Author: QualityUnit
 Version: 1.0.0
 Author URI: http://www.qualityunit.com
 License: GPL2
 */
div.liveagentInfo {
    background-color: #D0E4F5;
    border-color: #52AAF2;
}
div.laSignup {
    display: block;
}
.buttonTableRow {
    background: none repeat scroll 0 0 #FFB347;
    clear: both;
    display: inline;
    float: left;
    margin-bottom: 3px;
    position: relative;
}
.laButtonPreview {
    overflow: hidden;
}
.laButtonPreview * {
    border: medium none;
}
.laButtonsTableCell {
    float: left;
    height: 100px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 300px;
}
.laButtonsTableHeader {
    float: left;
    overflow: auto;
    position: relative;
    text-align: center;
    width: 300px;
}
.laButtonsTable {
    clear: both;
    position: relative;
}
.laButtonsTableSubmit {
    clear: both;
    float: left;
}
.laButtonsTableHeaderType, .laButtonsTableCellType {
    width: 150px;
}
.laButtonsTableHeaderEnabled, .laButtonsTableCellEnabled {
    width: 150px;
}
.laButtonsTableCellType, .laButtonsTableCellEnabled {
    line-height: 100px;
    position: relative;
}
.laCheckboxWrap {
    height: 14px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 14px;
}
.laCheckboxWrap input {
    left: -5px;
    margin: 0;
    position: relative;
    top: -5px;
}
.clear {
    clear: both;
}
.nlFormField {
    margin: 0 0 15px;
}
.nlFormFieldLabel {
    font-size: 13px;
    font-weight: bold;
}
.nlFormFieldInput {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #888888 #AAAAAA #DDDDDD;
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
    border-width: 1px;
    height: 35px;
}

.nlFormFieldInput .password-focus, .nlFormFieldInput .password, .nlFormFieldInput .text, .nlFormFieldInput .text-focus, .nlInput {
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    font-size: 17px !important;
    height: 100%;
    margin: 0;
    padding: 0 6px;
    width: 300px;
}
.nlStepBox {
    font-family: 'PT Sans',arial,serif;
    margin: 20px 0;
    position: relative;
    width: 962px;
}
.nlStepHeader {
    background: url("../img/black-dotted-background.png") repeat-x scroll 0 0 #1A1A1A;
    border-radius: 8px 8px 0 0;
    color: #BEBEBE;
    font-size: 25px;
    font-weight: bold;
    padding: 18px 20px;
    text-align: left;
}
.nlStepHeaderLeft {
    float: left;
}
.nlStepNumber {
    font-weight: normal;
}
.nlStepHeaderRight {
    float: right;
    font-weight: normal;
    line-height: 18px;
    text-align: right;
}
.nlStepBoxContent {
    background: -moz-linear-gradient(center top , #FD8100, #FDAB00) repeat scroll 0 0 transparent;
    border: 1px solid #FC8700;
    border-radius: 0 0 8px 8px;
    min-height: 320px;
    padding: 15px 0;
}
.nlStepBoxLeft {
    float: left;
    margin: 0 20px;
    width: 300px;
}
.nlBoxWithScreenshots {
    background: url("../img/simple-signup-2.png") no-repeat scroll left top transparent;
    height: 395px;
    left: 350px;
    position: absolute;
    top: 50px;
    width: 590px;
}
.nlDomainSelection {
    float: left;
    width: 200px;
}
.nlDomainSelection .nlInput {
    width: 186px;
}
.nlDomainName {
    float: left;
    font-size: 13px;
    margin: 10px 0 0 10px;
    width: 80px;
}
.nlTermsAndConditions {
    font-family: "Trebuchet MS",Arial,Verdana;
    font-size: 11px;
    margin: 0 0 15px;
}
.nlTermsAndConditions a {
    color: #26813F;
}
.nlTermsAndConditions a:hover {
    text-decoration: none;
}
.nlContactUs {
    bottom: 20px;
    position: absolute;
    right: 25px;
    text-align: right;
}
.nlOwnButtons {
    bottom: 20px;
    left: 25px;
    position: absolute;
    text-align: left;
}
.nlGridHolder {
    padding: 20px;
}
.nlAboveStepBox {
    font-family: 'PT Sans',arial,serif;
}
.nlAboveStepBox .nlStepBoxLeft {
    margin: 0;
}
.nlBigButton {
    background: -moz-linear-gradient(center top , #C2E800, #5EC400) repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px #222222;
    clear: both;
    color: #295700;
    cursor: pointer;
    display: block;
    font-size: 23px;
    font-weight: bold;
    line-height: 50px;
    margin: 10px 0 5px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #CFF400;
}
.nlBigButton:hover {
    background: -moz-linear-gradient(center top , #D1F200, #8BDD00) repeat scroll 0 0 transparent;
}
.nlBigButton.nlSmallText {
    font-size: 14px;
}
.nlDarkOrangeText {
    color: #7D4000;
    font-size: 14px;
}
.nlDarkOrangeText.nlSmallText {
    font-size: 12px;
}
.nlDarkOrangeText a {
    color: #7D4000;
}
.nlDarkOrangeText a:hover {
    color: #7D4000;
    text-decoration: none;
}
.nlDarkGrayText {
    color: #333333;
    font-size: 14px;
    margin: 0 0 10px;
}
.nlDarkGrayText a {
    color: #333333;
}
.nlDarkGrayText a:hover {
    color: #333333;
    text-decoration: none;
}
.nlLightText {
    color: #BEBEBE;
    font-size: 14px;
}
.nlLightText a {
    color: #BEBEBE;
}
.nlLightText a:hover {
    color: #BEBEBE;
    text-decoration: none;
}
.nlHurrayMessage {
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: left;
}
.nlLoader {
    background: url("../img/loader.gif") no-repeat scroll center center transparent;
    height: 50px;
    margin: 20px 0;
}
.nlLoader span {
    display: none;
}
.buttonsSave {
	width:150px;
	clear:both;
	float: left;
}
.buttonsSettings .nlStepHeader {
	width: 902px;
}
.buttonsSettings .nlStepBoxContent {
	width:900px;
	float:left;
	clear:both;
}